.lmj-movie-item-cover {
	height: 300px;
	width: 300px;
	border-radius: 20px;
}
.lmj-movie-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}
.lmj-movie-item-description{
	width: 300px;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}
.card-body{
	width: 300px;
	height: auto;
	text-align: center;
}